html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

#container {
    display: block;
    position: absolute;
}

#gameBoard {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
}

.miniCube {
    position: absolute;
    display: inline-block;
    border: 1px solid #000;
    opacity: 0.2;
    background-color: #efefef;
}

.info dl {
    dt, dd {
        display: inline-block;
    }
    dt:after {
        content: ': ';
    }
}

button {
    color: #000;
    border-radius: 0.5em;
    border: 0px;
    padding: 0.5em;
    background-color: #fff;
    &:focus {
        outline: none;
    }
    &:hover {
        background-color: #eee;
    }
    &:active {
        background-color: #ddd;
    }
}

.start-screen {
    width: 50%;
    display: flex;
    justify-content: center;

    button {
        font-family: "Times New Roman";
        font-size: 5em;
    }
}

.background, .container {
    left: 0;
    top: 0;
    position: absolute;
    width: 800px;
    height: 800px;
}
.background {
    background-color: #eff;
    opacity: 0.5;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
}
