html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

.centered {
    display: inline-block;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
    top: 50%;
}

#container {
    display: block;
    position: absolute;
}

#gameBoard {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
    transform: rotateX(0deg) rotateY(0deg);
}

.background {
    background-color: #141F1F;
    opacity: 0.5;
    width: 100%;
    height: 100%;
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 15px #BFFFFF;
    border-radius: 20px;
}

button {
    transition: all 0.3s;
    color: #000;
    border-radius: 0.2em;
    border: 0px;
    padding: 0.2em 1em;
    background-color: #98DADA;
    &:focus {
        outline: none;
    }
    &:hover {
        background-color: #ddd;
    }
    &:active {
        background-color: #fff;
    }
}

.score {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 3em;
    margin: 0.2em 0.5em;
}

.start-screen {
    background-color: #fcfcfc;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 2em 6em;
    border-radius: 20px;
    
    h1 {
        margin-bottom: 0;
    }

    button {
        font-family: "Times New Roman";
        font-size: 3em;
        margin: 0.5em auto;
    }
  
    dl {
        display: flex;
        justify-content: center;
        align-items: center;
        dt, dd {
            margin: 0.2em;
            display: inline-block;
        }
        dt {
            text-decoration: underline;
            &:after {
                content: ': ';
            }
        }
    }
  
    table {
        text-align: center;
    }
}
